.light-bg.light-text {
    background: #aaa;
}
.dark-bg.dark-text {
    background: #444;
}
.dark-bg.light-text .main-return, .dark-bg.light-text .title {
    color: #ffffff;
}
.dark-bg.light-text .wunder path {
    fill: rgba(255, 255, 255, 0.3);
}
.dark-bg.light-text .main-return:hover {
    color: #fff;
}
.dark-bg.light-text .wunder:hover path {
    fill: #fff;
}
