#weather-calendar {
    -ms-display: flexbox;
    display: flex;
}

#weather-calendar > span {
    -ms-flex: 1;
    flex: 1;
    height: 100%;
}

#calendar {
    width: 500px;
    padding: 0 30px;
}

#calendar-content,#calendar-agenda {
    font-size: 1.8em;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.8);
}
#calendar-agenda td {
    padding: 0px 20px;
}
