{
  "extends": "stylelint-config-standard",
  "rules": {
    "alpha-value-notation": null,
    "at-rule-no-vendor-prefix": null,
    "color-function-notation": "legacy",
    "property-no-vendor-prefix": null,
  }
}
